<main class="d-flex align-items-stretch">
	<div class="d-none d-xl-block"><img width="500" src="/files/jpg/doctor.jpg"></div>
	<div class="back p-4 d-flex align-items-center shadow-inset">
		<div class="max-w-400">
			<div class="pb-1">
				<h4>Kullanıcı Çıkış Ekranı</h4><br />
				<p>
					Hoşçakalın <strong>{{Kunye}}</strong> oturumunuzu güvenli bir şekilde kapattınız.
					<br /><br />
					Artık sayfadan güvenle ayrılabilirsiniz yada dilerseniz aşağıdaki ev simgesine tıklayıp ana sayfaya gidebilirsiniz.
				</p>
				<br />
				<p class="text-right">
					<a href="/" data-toggle="tooltip" data-popup="tooltip-custom" data-placement="top" data-original-title="Ana sayfaya gitmek için tıklayın." class="btn btn-primary rounded-sm mr-1 px-3 py-2"><i class="fa fa-home"></i></a>
				</p>
			</div>
		</div>
	</div>
</main>