<div class="dropdown-menu right slide">
	<a class="dropdown-item d-flex align-items-center" href="/kullanici/giris/"><i class="fa fa-sign-in-alt font-md-1 mr-2"></i> Giriş Yap</a>
	<div role="separator" class="dropdown-divider"></div>
	<a class="dropdown-item d-flex align-items-center" href="/kullanici/kayit/"><i class="fa fa-user-plus font-md-1 mr-2"></i> Kayıt Ol</a>
	<div role="separator" class="dropdown-divider"></div>
	<a class="dropdown-item d-flex align-items-center" href="/destek/"><i class="fa fa-hand-holding-medical font-md-1 mr-2"></i> Destek</a>
</div>