<div class="dropdown-menu right slide">
	<a class="dropdown-item d-flex align-items-center" href="/"><i class="fa fa-home font-md-1 mr-2"></i> Ana Sayfa</a>
	<div role="separator" class="dropdown-divider"></div>
	<a class="dropdown-item d-flex align-items-center" title="{{fullName}}" href="/{{userName}}/"><i class="fa fa-house-user font-md-1 mr-2"></i> Profil</a>
	<a class="dropdown-item d-flex align-items-center" href="/kullanici/ayarlar/"><i class="fa fa-user-cog font-md-1 mr-2"></i> Ayarlar</a>
	<div role="separator" class="dropdown-divider"></div>
	<a class="dropdown-item d-flex align-items-center" href="/kullanici/cikis/"><i class="fa fa-sign-in-alt font-md-1 mr-2"></i> Çıkış</a>
</div>